In [5]:
import pandas as pd

# Load the csv file into a pandas DataFrame
df = pd.read_csv('public/data/satcat.csv')

# Print the first 5 rows of the DataFrame
print(df.head())

  OBJECT_NAME  OBJECT_ID  NORAD_CAT_ID OBJECT_TYPE OPS_STATUS_CODE OWNER
0    SL-1 R/B  1957-001A             1         R/B               D   CIS  \
1   SPUTNIK 1  1957-001B             2         PAY               D   CIS
2   SPUTNIK 2  1957-002A             3         PAY               D   CIS
3  EXPLORER 1  1958-001A             4         PAY               D    US
4  VANGUARD 1  1958-002B             5         PAY             NaN    US

  LAUNCH_DATE LAUNCH_SITE  DECAY_DATE  PERIOD  INCLINATION  APOGEE  PERIGEE
0  1957-10-04       TYMSC  1957-12-01   96.19        65.10   938.0    214.0  \
1  1957-10-04       TYMSC  1958-01-03   96.10        65.00  1080.0     64.0
2  1957-11-03       TYMSC  1958-04-14  103.74        65.33  1659.0    211.0
3  1958-02-01       AFETR  1970-03-31   88.48        33.15   215.0    183.0
4  1958-03-17       AFETR         NaN  132.71        34.24  3832.0    649.0

      RCS DATA_STATUS_CODE ORBIT_CENTER ORBIT_TYPE
0  20.420              NaN           EA        IMP
1     NaN              NaN           EA        IMP
2   0.080              NaN           EA        IMP
3     NaN              NaN           EA        IMP
4   0.122              NaN           EA        ORB

In [6]:
# Print the first 3 rows of the DataFrame where the ORBIT_TYPE is 'ORB'
print(df[df['ORBIT_TYPE'] == 'ORB'].head(3))

     OBJECT_NAME  OBJECT_ID  NORAD_CAT_ID OBJECT_TYPE OPS_STATUS_CODE OWNER
4     VANGUARD 1  1958-002B             5         PAY             NaN    US  \
10    VANGUARD 2  1959-001A            11         PAY             NaN    US
11  VANGUARD R/B  1959-001B            12         R/B             NaN    US

   LAUNCH_DATE LAUNCH_SITE DECAY_DATE  PERIOD  INCLINATION  APOGEE  PERIGEE
4   1958-03-17       AFETR        NaN  132.71        34.24  3832.0    649.0  \
10  1959-02-17       AFETR        NaN  121.30        32.87  2926.0    552.0
11  1959-02-17       AFETR        NaN  125.70        32.91  3315.0    553.0

       RCS DATA_STATUS_CODE ORBIT_CENTER ORBIT_TYPE
4   0.1220              NaN           EA        ORB
10  0.3931              NaN           EA        ORB
11  0.5266              NaN           EA        ORB

In [7]:
# head of 'public/data/active.csv'

import pandas

# Load the csv file into a pandas DataFrame

df = pandas.read_csv('public/data/active.csv')

# Print the first 5 rows of the DataFrame

print(df.head())

len(df)

    OBJECT_NAME  OBJECT_ID                       EPOCH  MEAN_MOTION
0   CALSPHERE 1  1964-063C  2023-05-30T23:04:25.428288    13.743246  \
1   CALSPHERE 2  1964-063E  2023-05-31T04:50:18.096576    13.527515
2         LCS 1  1965-034C  2023-05-30T18:53:05.015040     9.893030
3     TEMPSAT 1  1965-065E  2023-05-30T16:04:05.988864    13.334788
4  CALSPHERE 4A  1965-065H  2023-05-30T22:55:54.686784    13.359660

   ECCENTRICITY  INCLINATION  RA_OF_ASC_NODE  ARG_OF_PERICENTER  MEAN_ANOMALY
0      0.002916      90.1910         47.5177            57.1865      314.2538  \
1      0.001714      90.2065         50.8529           213.4411      312.2867
2      0.000807      32.1435        300.6164            33.2187      326.8816
3      0.007148      89.9348        216.1096           134.4653      342.7040
4      0.006941      89.9686        129.5785             5.7166       59.6587

   EPHEMERIS_TYPE CLASSIFICATION_TYPE  NORAD_CAT_ID  ELEMENT_SET_NO
0               0                   U           900             999  \
1               0                   U           902             999
2               0                   U          1361             999
3               0                   U          1512             999
4               0                   U          1520             999

   REV_AT_EPOCH     BSTAR  MEAN_MOTION_DOT  MEAN_MOTION_DDOT
0         91838  0.000661     6.350000e-06               0.0
1         70624  0.000048     4.000000e-07               0.0
2          9962  0.000145     9.000000e-08               0.0
3         81164  0.000036     2.800000e-07               0.0
4         81405  0.000198     1.120000e-06               0.0

7795

In [8]:
# print the row with the most eccentric orbit
print(df[df['ECCENTRICITY'] == df['ECCENTRICITY'].max()])

    OBJECT_NAME  OBJECT_ID                       EPOCH  MEAN_MOTION
838       MMS 1  2015-011A  2023-05-29T14:04:17.216832      0.28556  \

     ECCENTRICITY  INCLINATION  RA_OF_ASC_NODE  ARG_OF_PERICENTER
838      0.910626      29.0914           66.33            94.0515  \

     MEAN_ANOMALY  EPHEMERIS_TYPE CLASSIFICATION_TYPE  NORAD_CAT_ID
838      322.0797               0                   U         40482  \

     ELEMENT_SET_NO  REV_AT_EPOCH  BSTAR  MEAN_MOTION_DOT  MEAN_MOTION_DDOT
838             999          1428    0.0    -5.000000e-08               0.0

In [9]:
# the highest orbit

print(df[df['APOGEE'] == df['APOGEE'].max()])

KeyError: 'APOGEE'