In [1]:
import pandas as pd

# Load the csv file into a pandas DataFrame
df = pd.read_csv('data/satcat.csv')

# Print the first 5 rows of the DataFrame
print(df.head())

  OBJECT_NAME  OBJECT_ID  NORAD_CAT_ID OBJECT_TYPE OPS_STATUS_CODE OWNER
0    SL-1 R/B  1957-001A             1         R/B               D   CIS  \
1   SPUTNIK 1  1957-001B             2         PAY               D   CIS
2   SPUTNIK 2  1957-002A             3         PAY               D   CIS
3  EXPLORER 1  1958-001A             4         PAY               D    US
4  VANGUARD 1  1958-002B             5         PAY             NaN    US

  LAUNCH_DATE LAUNCH_SITE  DECAY_DATE  PERIOD  INCLINATION  APOGEE  PERIGEE
0  1957-10-04       TYMSC  1957-12-01   96.19        65.10   938.0    214.0  \
1  1957-10-04       TYMSC  1958-01-03   96.10        65.00  1080.0     64.0
2  1957-11-03       TYMSC  1958-04-14  103.74        65.33  1659.0    211.0
3  1958-02-01       AFETR  1970-03-31   88.48        33.15   215.0    183.0
4  1958-03-17       AFETR         NaN  132.71        34.24  3832.0    649.0

      RCS DATA_STATUS_CODE ORBIT_CENTER ORBIT_TYPE
0  20.420              NaN           EA        IMP
1     NaN              NaN           EA        IMP
2   0.080              NaN           EA        IMP
3     NaN              NaN           EA        IMP
4   0.122              NaN           EA        ORB

In [5]:
# Print the first 3 rows of the DataFrame where the ORBIT_TYPE is 'ORB'
print(df[df['ORBIT_TYPE'] == 'ORB'].head(3))

     OBJECT_NAME  OBJECT_ID  NORAD_CAT_ID OBJECT_TYPE OPS_STATUS_CODE OWNER
4     VANGUARD 1  1958-002B             5         PAY             NaN    US  \
10    VANGUARD 2  1959-001A            11         PAY             NaN    US
11  VANGUARD R/B  1959-001B            12         R/B             NaN    US

   LAUNCH_DATE LAUNCH_SITE DECAY_DATE  PERIOD  INCLINATION  APOGEE  PERIGEE
4   1958-03-17       AFETR        NaN  132.71        34.24  3832.0    649.0  \
10  1959-02-17       AFETR        NaN  121.30        32.87  2926.0    552.0
11  1959-02-17       AFETR        NaN  125.70        32.91  3315.0    553.0

       RCS DATA_STATUS_CODE ORBIT_CENTER ORBIT_TYPE
4   0.1220              NaN           EA        ORB
10  0.3931              NaN           EA        ORB
11  0.5266              NaN           EA        ORB